.popup-container {
  width: 50%; /* Ancho del contenido del pop-up */
  margin: auto; /* Esto centrará el bloque en el eje horizontal */
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  padding: 10px;
}

.parent-element { /* Reemplazar con el elemento padre real si es necesario */
  overflow: visible; /* O auto si necesitas que sea scrollable */
}

@media (max-width: 768px) {
  .popup-content {
    width: 80%; /* O cualquier otra medida para pantallas más pequeñas */
  }
}


.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-btn {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.popup-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.popup-link:hover {
  background: #0056b3;
}
